@import '../../media.scss';

.insert_title{
    font-size: 60px;
    width: 30vw;
    height: auto;
    position:absolute;
    bottom: 60%;
    right: 10%
}
.main_background{// 배경 지정을 위한 CSS
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #D4f5fe;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.insert_gull{ //갈매기 위치 지정을 위한 css
    width: 10vw;
    height: auto;
    margin-top: 5vw;
    margin-left: 5vw;
    align-self: flex-start;
    animation:ani_gull 2s ease-in Infinite Alternate;
}

.insert_sun{//태양 위치 조정을 위한 css
    width: 10vw;
    height: auto;
    align-self: flex-end;
    animation:ani_sun 2s ease-in Infinite Alternate;
}

.insert_fisher_man{//강태공 위치 조정을 위한 css
    width: 30vw;
    height: auto;
    position: absolute;
    bottom: -15vw;
    right: 50%;
    overflow: hidden;
    animation:ani_fisher_man 2s ease-in Infinite Alternate;
    
}

.insert_jbutton1{//버튼 위치 조정을 위한 css
    width: 20vw;
    height: auto;
    position:absolute;
    bottom: 50%;
    right: 20%
}

.insert_jbutton2{//버튼 위치 조정을 위한 css
    width: 20vw;
    height: auto;
    position:absolute;
    bottom: 40%;
    right: 20%
}