@import '@/media.scss';
.fishList_view {
  background: linear-gradient(180deg, #4da8bc 0%, #306c79 100%);
  width: 100%;
  height: auto;
  min-height: 120vh;
  position: relative;
}

.fishList_view-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  height: 80px;
  font-size: 2.5rem;
}

.fishList_view-title {
  width: 100%;
  height: 20rem;
  background-color: gray;
  color: white;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > h1 {
    font-size: 2rem;
    font-weight: bold;
  }
}

.fishList_gotoMain {
  font-size: 1.2rem;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  &:hover {
    scale: 1.15;
  }
}

.fishList_view-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  gap: 40px;
  margin: 0 auto;
  width: 70%;
  margin-top: 2rem;
  animation: showEncyclopedia 1s;
  padding-bottom: 5rem;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(3, 1fr);
  }
}

.fishList_view-card {
  border-radius: 1rem;
  overflow: hidden;
  width: 17rem;
  height: 12rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: inset 3.51304px 3.51304px 3.51304px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(3.51304px 3.51304px 3.51304px rgba(0, 0, 0, 0.25));
}

.fishList_view-img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.fishList_view-name {
  display: flex;
  align-items: center;
  padding: 0.3rem;
  font-size: 2rem;
  width: 100%;
  background-color: white;
  padding-left: 0.7rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

@keyframes showEncyclopedia {
  0% {
    opacity: 0.2;
    transform: translateY(150px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
