@import '@/media.scss';
.fishList_view {
  background: linear-gradient(180deg, #4da8bc 0%, #306c79 100%);
  width: 100%;
  height: auto;
  min-height: 120vh;
  position: relative;
}

.fishList_view-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: #4da8bc;
  margin: 0 auto;
  height: 80px;
  font-size: 2.5rem;
  z-index: 9;
}

.fishList_view-nav-search {
  position: relative;
  right: 20px;
  top: 5px;
  transform: translateY(-15px);
  & > div {
    background-image: url('../../assets/glassPreview.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    top: 20px;
    left: 5px;
    z-index: 5;
  }

  & > input {
    width: 18rem;
    height: 3rem;
    border-radius: 1rem;
    font-size: 0.9rem;
    padding-left: 3rem;
    border: 2px solid #0e1733;
  }

  & > button {
    width: 5rem;
    height: 3rem;
    font-size: 1rem;
    margin-left: 0.5rem;
    color: white;
    background-color: white;
    border: 2px solid #0e1733;
    color: #0e1733;
    border-radius: 1rem;

    &:hover {
      scale: 1.05;
    }

    &:active {
      position: relative;
      top: -1px;
    }
  }
}

.fishList_view-title {
  width: 100%;
  height: 20rem;
  background-color: gray;
  color: white;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > h1 {
    font-size: 2rem;
    font-weight: bold;
  }
}

.fishList_gotoMain {
  font-size: 1.2rem;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  &:hover {
    scale: 1.15;
  }
}

.fishList_view-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  gap: 40px;
  margin: 0 auto;
  width: 70%;
  margin-top: 2rem;
  animation: showEncyclopedia 1s;
  padding-bottom: 5rem;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(3, 1fr);
  }
}

.fishList_view-card {
  border-radius: 1rem;
  overflow: hidden;
  width: 17rem;
  height: 12rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: inset 3.51304px 3.51304px 3.51304px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(3.51304px 3.51304px 3.51304px rgba(0, 0, 0, 0.25));
}

.fishList_view-img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.fishList_view-name {
  display: flex;
  align-items: center;
  padding: 0.3rem;
  font-size: 2rem;
  width: 100%;
  background-color: white;
  padding-left: 0.7rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

@keyframes showEncyclopedia {
  0% {
    opacity: 0.2;
    transform: translateY(150px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
