@import '../../media.scss';

.login_background{//배경 지정을 위한 CSS
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: row;
    background: linear-gradient(180deg, #006CCF 0%, #061A38 82.81%, #071228 100%);
}

.login_left_background{//flex 레이아웃을 위한 css
    width: 50%;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    
}
.login_right_background{//flex 레이아웃을 위한 css
    width: 50%;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.insert_right_center_background{//flex레이아웃을 위한 css
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: row;
    align-self: center;//나중에 반응형

}

.insert_login_layout{
    align-self: center;
    width: 450px;
    height: 367px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.insert_switch_login{
    display: grid;
    width: 100%;
    height: 3.125rem;
    grid-template-columns: 1fr 1fr;
    background-color: aqua;
}

.switch_button{
    display: login;
    width: 100%;
}

.login_logo{
    width: 5%;
    height: 5%;
    justify-items: flex-start;
    align-self: flex-start;
    background-color: red;
}

.login_web_name{
    justify-items: flex-start;
    align-self: flex-start;
    background-color: white;
}

.login_welcome{
    justify-self: center;
    align-self: center;
    background-color: green;
}

.login_page{
    
}