@import '../../media.scss';

.login_background{//배경 지정을 위한 CSS
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: row;
    background: linear-gradient(180deg, #006CCF 0%, #061A38 82.81%, #071228 100%);
}

.login_left_background{//flex 레이아웃을 위한 css
    width: 50%;
    height: 100vh;
    max-height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.login_logo_background{//flex 레이아웃을 위한 css
    width: 100%;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
}

.login_right_background{//flex 레이아웃을 위한 css
    width: 50%;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.insert_right_center_background{//flex레이아웃을 위한 css
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: row;
    align-self: center;//나중에 반응형
}

.insert_login_layout{//로그인,회원가입 창 지정
    align-self: center;
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 400px;
    min-width: 50px;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

/*{.insert_switch_login{//버튼 위치
    display: grid;
    width: 50%;
    height: 3.125rem;
    grid-template-columns: 1fr 1fr;
    background-color: #D7D7D7;
}*/


.insert_switch_login{
    display: flex;
    width: 100%;
    height: 3.125rem;
    flex-direction: row;
}

.switch_button{
    width: 50%;
    height: 100%;
    background-color: red;
    border-radius: 20px 20px 0px 0px;
}


.login_logo{//좌측 상단 로고 CSS
    width: 56px;
    height: 56px;
    justify-items: flex-start;
    align-self: flex-start;
}

.login_web_name{//좌측상단 이름 css
    justify-items: flex-start;
    align-self: flex-start;
    color: white;
    font-size: 36px;
}

.login_welcome{//좌측 중앙 문장 CSS
    justify-self: center;
    align-self: center;
    color: white;
    font-size:  3rem;
}

.login_welcome_background{//환영 문구 위치 조정
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login_ment{//환영 문구 css
    justify-self: center;
    align-self: center;
    color: white;
    font-size:  3rem;
    opacity: 50%;
}

.login_page{//
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.login_button{
    width: 400px;
    height: 50px;
    background-color: #053366;
    border-radius: 20px;
    color: white;
}

.login_input{
    width: 400px;
    height: 50px;
    border: 1px solid black;
}

.whale_img{//고래 이미지 css
    width: 50%;
    height: auto;
    justify-self: center;
    align-self: center;
}

.small_whale{
    height: 55%;
    width: 55%;
}

