@import '@/media.scss';
.fishList_view {
  // background: linear-gradient(180deg, #4da8bc 0%, #306c79 100%);
  width: 100%;
  height: auto;
  min-height: 100vh;
  position: relative;
  background: linear-gradient(180deg, #006ccf 0%, #061a38 82.81%, #071228 100%);
}

.fishList_view-title {
  width: 100%;
  height: 20rem;
  padding-top: 4.5rem;
  color: white;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > h1 {
    font-size: 2rem;
    font-weight: bold;
  }
}

.fishList_gotoMain {
  font-size: 1.2rem;
  position: fixed;
  background-color: white;
  width: 2.5rem;
  height: 2.5rem;

  border-radius: 50%;
  bottom: 30px;
  right: 30px;

  background-image: url('../../assets/up-icon.png');
  background-repeat: no-repeat;
  background-size: cover;

  cursor: pointer;
  &:hover {
    scale: 1.15;
  }
}

.fishList_view-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 10px;
  margin: 0 auto;
  width: 70%;
  margin-top: 2rem;
  animation: showEncyclopedia 1s;
  padding-bottom: 5rem;

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
    gap: 40px;
  }

  @include desktop {
    grid-template-columns: repeat(4, 1fr);
    width: 70%;
    gap: 40px;
  }
}

.fishList_view-card {
  border-radius: 1rem;
  overflow: hidden;
  width: 8rem;
  height: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: inset 3.51304px 3.51304px 3.51304px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(3.51304px 3.51304px 3.51304px rgba(0, 0, 0, 0.25));

  @include tablet {
    width: 12rem;
    height: 9rem;
  }

  @include desktop {
    width: 12rem;
    height: 9rem;
  }
}

.fishList_view-img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  transition: 0.2s all;
  cursor: pointer;
  overflow: hidden;
  &:hover {
    transform: scale(1.2);
  }
}

.fishList_view-name {
  display: flex;
  align-items: center;
  padding: 0.3rem;
  font-size: 2rem;
  width: 100%;
  background-color: white;
  padding-left: 0.7rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

@keyframes showEncyclopedia {
  0% {
    opacity: 0.2;
    transform: translateY(150px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
