@import '../../media.scss';

.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  z-index: 99;
}

.spinner {
  min-width: 60px;
  min-height: 60px;
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-right: 5px solid black;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
