@import '../../media.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

.insert_resultback {
  width: 100vw;
  height: 115vh;
  background: linear-gradient(180deg, #006ccf 0%, #061a38 82.81%, #071228 100%);
  @include tablet {
    height: 100vh;
  }
}

.insert_resultpage {
  width: 70%;
  height: auto;
  display: flex;
  background-color: #ffffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25),
    inset 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  justify-content: center;
  position: relative;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.insert_linebox {
  width: 95%;
  height: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 3px solid rgba(153, 153, 153, 0.5);
  border-radius: 30px;
  background-color: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.insert_bigbox {
  display: flex;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;

  @include tablet {
    flex-direction: row;
    margin-top: 0px;
  }
}

.insert_smallbox1 {
  display: flex;
  background-color: none;
  width: 100%;
  height: 50%;
  justify-content: center;
  align-self: center;
  margin-top: 10px;
  overflow-y: hidden;
  @include tablet {
    width: 50%;
    min-height: 100%;
    margin-top: none;
  }
}

.insert_smallbox2 {
  display: flex;
  background-color: none;
  width: 80%;
  height: 60%;
  align-self: center;
  justify-content: flex-start;
  flex-direction: column;

  @include tablet {
    width: 45%;
    height: 100%;
    justify-content: flex-start;
  }
}
.insert_topBox {
  display: none;
  width: 100%;
  height: 3vh;

  @include tablet {
    display: flex;
  }
}

.insert_rbottombox {
  display: flex;
  width: 100%;
  height: 10%;
  background-color: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @include tablet {
    height: 15%;
  }
}

.insert_cbutton {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  margin-bottom: 2px;
  padding: 3px;
  gap: 4px;
  border-radius: 4px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 900;
  color: #ffffff;
  background-color: #6149f8;
  z-index: 2;
  @include tablet {
    margin-bottom: 10px;
  }
}

.insert_resulttitle {
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: center;
  color: #ffffff;
  position: relative;
  font-size: 2.5rem;
  font-weight: bold;
  vertical-align: middle;
  margin-top: 40px;
}

.insert_normalBox1 {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
}

.insert_Namebox {
  display: flex;
  color: #000000;
  flex-grow: 1;
  font-size: 2rem;
  font-weight: bold;
  width: auto;
  @include tablet {
    font-size: 1.7rem;
    width: 100%;
    justify-content: flex-start;
  }
}

.insert_smallNamebox {
  display: flex;
  color: #000000;
  font-size: 0.8rem;
  font-weight: lighter;
  margin-top: 3px;

  @include tablet {
    width: 80%;
    justify-content: flex-start;
    margin-top: none;
    align-self: flex-start;
  }
}

.insert_discribeBox {
  display: flex;
  height: auto;
  color: #000000;
  font-size: 0.8rem;
  font-weight: 300;
  white-space: normal;
  margin-bottom: 20px;
  margin-top: 5px;
  justify-content: center;

  @include tablet {
    width: 90%;
    height: 15%;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
}

.insert_qnaBox {
  display: flex;
  width: 110%;
  height: auto;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;

  @include tablet {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.insert_questionBox {
  display: flex;
  width: 30%;
  height: 100%;
  word-break: keep-all;
  white-space: pre-wrap;
  color: #000000;
  font-weight: bold;
  font-size: 1rem;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 2;
}

.insert_answerBox {
  display: flex;
  width: 60%;
  height: 100%;
  word-break: keep-all;
  white-space: pre-wrap;
  color: #000000;
  font-weight: lighter;
  font-size: 1rem;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 2;
}

.insert_dolpic {
  display: flex;
  width: 60%;
  height: 80%;
  align-self: flex-end;
  border-radius: 30px;

  @include tablet {
    align-self: center;
    margin-top: 10%;
    min-width: 45%;
    min-height: 60%;
  }
}

@keyframes showResult {
  0% {
    scale: 0.5;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes showTitle {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
